<div class="slider progressive-slider progressive-slider-two cm-shop-2-slider load">
  <div class="container">
    <div class="row slider-wrapper">
      <div class="col-md-9 sliders-container">
        <div class="sliders-box">
          <img class="replace-2x" src="images/slide-3-1.jpg" width="900" height="450" alt="">
          <img class="replace-2x" src="images/slide-3-2.jpg" width="900" height="450" alt="">
          <img class="replace-2x" src="images/slide-3-3.jpg" width="900" height="450" alt="">
        </div>
        <div class="pagination switches"></div>
      </div>
      <div class="col-md-3 slider-banners">
        <a class="banner" href="#">
          <img class="replace-2x" src="upload/img/home-banner-5.jpg" width="270" height="150" alt="">
        </a>
        <a class="banner" href="#">
          <img class="replace-2x" src="upload/img/home-banner-6.jpg" width="270" height="150" alt="">
        </a>
        <a class="banner" href="#">
          <img class="replace-2x" src="upload/img/home-banner-7.jpg" width="270" height="150" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
