<div class="breadcrumb-box">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">Home</a> </li>
      <li class="active">Category</li>
    </ul>
  </div>
</div><!-- .breadcrumb-box -->
<div class="banner-set banner-set-mini banner-set-no-pagination load" data-autoplay-disable="true">
  <div class="container">
    <div class="banners">
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner1-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Necklaces</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner2-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Rings</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner3-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Pendants</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner4-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Earrings</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner5-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Gemstone</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner6-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Rings</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner7-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Diamond</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner8-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Customize</h2>
      </a>
      <a href="#" class="banner">
        <img class="replace-2x" src="upload/img/banner5-mini.jpg" width="127" height="79" alt="">
        <h2 class="title">Gemstone</h2>
      </a>
    </div><!-- .banners -->
    <div class="clearfix"></div>
  </div>
  <div class="nav-box">
    <div class="container">
      <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
      <div class="pagination switches"></div>
      <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
  </div>
</div><!-- .banner-set -->