@model WebShop.Web.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Delete";
}
<h3 class="box-title">Cannot Delete Product Category</h3>
<div class="box-header">
  <a href='@Url.Action("List")'>@L("BackButtonLabel")</a>
</div>
